body {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
    font-size: 50px;
}

#numbers-table {
    display: inline-table;
    text-align: center;
}

.numbers {
    display: inline-block;
    text-align: center;
    border-color: rgb(83, 83, 83);
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    background-color: rgb(39, 39, 39);
    padding: 3%;
    width: 50px;
    margin: 5px;
    font-weight: bolder;
    font-size: xx-large;
}

#randomize-button {
    margin-top: 1%;
    margin-bottom: 1%;
    margin: 10px;
    padding: 10px;
    width: 300px;
    font-weight: bold;
    font-size: large;
}

.button {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.highlightedNumber {
    background-color: cornflowerblue;
}